@model IEnumerable<LivroUsuario>

@{
    ViewBag.Title = "Index";
}

<link href="Content/Tabela.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{

}

<div class="table-wrapper">
    <table class="fl-table">
        <tr>
            <th>
               Livro
            </th>
            <th>
               Usuario
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Livro.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
                </td>
                <td>
                    @Html.ActionLink("Devolver", "Delete", new { id = item.LivroUsuarioId })
                    
                </td>
            </tr>
        }

    </table>
    
</div>
